.dropdown {
    background-color: rgb(49, 109, 179);
    color: white;
    padding: 16px;
    border: none;
    text-align: center;
  }

  .dropdown>select, input {
      font-size: 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .participantInfo{
      height: 550px;
      padding: 30px;
      font-size: 24px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border: dotted;
      text-align: center;
    }

   input[type="submit"], button{
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  img{
      width: 300px;
      height: 300px;
  }